* {
  box-sizing: border-box;
}

body {
  background-image: url("../images/dynamic-style.png");
  size: 100%;
  height: 300px;
  display: grid;
  grid-template-columns: 1fr 6fr 1fr;
  grid-template-rows: 1fr 8fr;
}

h1 {
  height: 50px;
  width: auto;
  font-size: 40px;
  color: #4aaaa5;
  padding: 5px 15px 0px 15px;
  border-bottom: 1px solid grey;
}

p {
  font-size: 20px;
}

li {
  display: inline;
}

img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
  float: left;
  margin-right: 10px;
}

header {
display: grid;
grid-template-columns: 1fr 6fr 1fr;
grid-column: 1 / span 3;
background-color: white;
}

nav {
  display: grid;
  grid-column: 2 / span 1;
  text-align: right;
}

section {
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
  align-items: center;
  text-align: left;
  margin-top: 20px;
  background-color: white;
}

#nav-position {
  grid-column: 2 / span 1;
}

#nav-header {
  height: 50px;
  width: auto;
  font-size: 40px;
  color: white;
  background-color: #4aaaa5;
  float: left;
  text-align: left;
  /* vertical-align: middle; */
  padding: 5px 15px 0px 15px;
  
}

.nav-selection {
  display: inline-block;
  vertical-align: middle;
  padding: 15px 5px 0px 0px;
  font-size: 15px;
}
